{% extends "base.html" %}
{% block content %}


{% if request.user.is_authenticated %}
{% for message in messages %}
<div>
    {{ message.author }}: {{ message.text }}
</div>
{% endfor %}

<script>
    async function sendMessage(){
         fd = new FormData();
         let token = '{{ csrf_token }}';
         fd.append('textmassage', textmassageField.value);
         fd.append('csrfmiddlewaretoken', token);
         try {
            await fetch('/chat/', {
                method: 'POST',
                body: fd
            });
                console.log('Success!!!');
 
            } catch (error) {
                console.error('An error occured:', error);
        }
     }
 </script>

<form class="search-form" onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmassage" id="textmassageField" type="text">
        <label class="mdl-textfield__label" for="textmassageField">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Button
    </button>
</form>
{% else %}
<h1>Not Logged In!</h1>
<p>You are currently not logged in. Please log in!
    Click <a href="/login/">here</a> to log in, or <a href="/register/">register</a> if you don't have an account.
</p>
{% endif %}
{% endblock %}