{% extends "base.html" %}
{% block content %}
<section class="login-container">
    <h1>Login</h1>

    {% if wrongPassword %}
    <p class="wrong-pasword">Username or Password is wrong!</p>
    {% endif %}
    <div class="form-container">
        <form method="POST" action="/login/">
            {% csrf_token %}
            <input type="hidden" name="redirect" value="{{redirect}}">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="username" type="text" id="username">
                <label class="mdl-textfield__label" for="username">Username...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" name="password" type="password" id="password">
                <label class="mdl-textfield__label" for="password">Password...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Login
            </button>
            <div class="register-redirect-link">or <a href="/register/">Register</a> if you don't have an account.</div>
        </form>
    </div>
</section>
{% endblock %}